/**********Google fonts *******/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/**********Css variables *******/
:root {
    /***********Colors*****/
    --first-color: rgb(209, 209, 177);
    --title-color: hsl(0, 0%, 40%);
    --text-color: hsl(0, 0%, 50%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 0%, 93%);
    --border-color: hsl(0, 0%, 87%);
    --text-white: #fff;
    /**/
    --body-font: "Open Sans", sans-serif;
    --second-font: 'Poppins', sans-serif;
    --big-font-size: 56px;
    --h1-font-size: 32px;
    --h2-font-size: 24px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 12px;
    /**/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;

}


.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    
    padding: 40px;
    height: 100vh;
}
.home__img{
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3%);
    z-index: 1;
}
.home__data{
    max-width: 600px;
    margin-inline: auto;
    padding-top: 20px;
}
.home__title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 70px;
}
.home__title span{
    color: var(--first-color);
}
.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    background-color: var(--first-color);
}

.home__description{
    line-height: 2.125;
    margin-block: 16px 32px;
}
.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: var(--first-color);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}